* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #FFFFFF;

}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-align-center {
    text-align: center;
}

.nav-block {
    width: 100%;
    padding: 0.5rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.logout-button {
    width: auto;
    font-weight: 600;
    padding: 0.5rem;
    border-radius: 0.25rem;
    padding: 0.5rem 1.5rem;
    border: 1px solid #FFFFFF;
    color: rgb(0, 0, 0);
    background-color: #FCC000;
}

.logout-button:hover {
    color: rgb(253, 253, 253);
    background-color: #fcc100d8;
}

.padding-section-medium{
    padding: 5rem 0;
}

.container-large {
    margin: auto 0;
    width: 100%;
    max-width: 80rem;
}

.list-wrapper {
    margin-top: 5rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;


}


.align-center{
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
}

.biodata-wrapper {
    display: flex;
    justify-content: space-around;
}

.biodata-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.biodata {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.image-1x1-xmedium {
    width: 250px;
    height: 250px;
}

.font-size-medium {
    font-size:20px;
}

.font-size-large {
    font-size:3rem;
}

.bg-color-gray {
    background-color: #262626;
}

.bg-color-black {
    background-color: black;
}   

.list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style-type: none;
    margin-top: 1rem;
}

.spacer-giant {
    background-color: #262626;
    height:25rem;
}


@media screen and (max-width: 880px) {
    .biodata-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

@media screen and (max-width: 600px) {
    .js-img-wrapper {
        display: none;
    }    

    .biodata-content {
        flex-direction: column;
    }

    }
    
}